body {
  margin:0;
  padding: 0;
  overflow-x: hidden;
}

.hero {
  height: 100vh;             
  width: 100%;               
  background-size: cover;   
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
  color: white;
  box-sizing: border-box;    
}

.hero-content {
  max-width: 500px;
  margin-bottom: -200px;
}

.hero-content h1 {
  font-family: 'cursive', serif;
  font-size: 50px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.explore-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.explore-btn:hover {
  background-color: white;
  color: black;
}