/* Full Background */
.custom-login-page {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

/* Glass Card */
.custom-login-card {
  width: 420px;
  padding: 40px 30px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 28px;
  border: 2px solid rgba(255, 255, 255, 0.35);
  text-align: center;
}

/* Title */
.custom-login-title {
  font-size: 32px;
  font-weight: 700;
  color: white;
  margin-bottom: 30px;
  text-shadow: 0 0 5px rgba(0,0,0,0.3);
}

/* Inputs */
.custom-login-input {
  width: 350px;
  padding: 12px 18px;
  margin-bottom: 18px;
  border-radius: 50px;
  border: 4px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 16px;
  outline: none;
}

/* Placeholder color */
.custom-login-input::placeholder {
  color: white;
  opacity: 0.9;
}

/* Password Box Wrapper */
.custom-password-box {
  position: relative;
  width: 350px;
  left: 13px;
}

/* Eye Icon */
.custom-eye-icon {
  position: relative;
  left: 185px;
  top: -57px;
  transform: translateY(-50%);
  font-size: 22px;
  color: white;
  cursor: pointer;
  user-select: none;
}

/* Button */
.custom-login-btn {
  width: 200px;
  padding: 14px 18px;
  border-radius: 50px;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.custom-login-btn:hover {
  background: white;
  color: black;
}

/* Create Account */
.custom-create-account-btn {
  margin-top: 16px;
  color: white;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
}

.custom-create-account-btn:hover {
  opacity: 1;
}
