.profile-popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  gap: 10px;
  padding: 10px;
}

/* Each card */
.profile-popup-card {
  width: 170px;
  height: 30px;
  background-color: #e3e3e3;
  padding: 14px;
  border-radius: 5px;
  opacity: 1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-popup-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.profile-popup-title {
  margin: 0;
  color: #000;
  font-size: 10px;
  font-weight: 600;
}

.profile-popup-text {
  margin-top: 5px;
  color: #444;
  font-size: 8px;
  line-height: 1.4;
}
