.tripCategory-page {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
  background: url("../assets/background.png") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  overflow: hidden;
  text-align: center;
}

/* Badge */
.tripCategory-badge {
  font-size: 36px;
  font-weight: 700;
  color: #0a0a23;
  padding: 12px 36px;
  border-radius: 20px;
  border: 3px solid transparent;
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, #4c6ef5, #e5b5fd, #faf0f6) border-box;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 200px;
  margin-top: 0px;
  display: inline-block;
}

/* Heading */
.tripCategory-main-heading {
  font-size: 70px;
  font-weight: bold;
  color: #000;
  background: transparent;
  z-index: 1;
  position: relative;
  top: -200px;
}

.tripCategory-main-heading span {
  color: #000;
}

/* Subtext */
.tripCategory-sub-text {
  margin: 10px 0 30px;
  font-size: 22px;
  color: #444;
  z-index: 1;
  position: relative;
  top: -230px;
}

/* Options grid */
.tripCategory-options-grid {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-auto-rows: 50px;
  grid-gap: 15px;
  justify-content: center;
  margin-bottom: 30px;
  z-index: 1;
  position: relative;
  top: -225px;
}

/* Option Buttons */
.tripCategory-option-btn {
  border: 2px solid #a23bff;
  border-radius: 25px;
  color: black;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

.tripCategory-option-btn:hover {
  background: #e384fd;
}

.tripCategory-option-btn.selected {
  background: #e384fd;
  color: white;
}

/* Next button */
.tripCategory-next-btn {
  background: linear-gradient(90deg, #c471ed, #f64f59);
  border: none;
  border-radius: 20px;
  padding: 12px 50px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  z-index: 1;
  transition: 0.3s;
  position: relative;
  top: -200px;
}

.tripCategory-next-btn:hover {
  opacity: 0.8;
}
