body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

.tripPage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}

.tripPage-title {
  font-size: 24px;
  font-weight: 700;
  color: #0a2458;
  border: 2px solid #000;
  border-radius: 12px;
  padding: 8px 40px;
  margin-bottom: 30px;
}

.tripPage-card {
  width: 1100px;
  max-width: 1100px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.tripPage-tabs {
  display: flex;
  background: #81c4ff;
  padding: 15px 500px;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.tripPage-tabBtn {
  background: none;
  border: none;
  outline: none;
  color: white;
  font-weight: 500;
  font-size: 14px;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  right: 480px;
}

.tripPage-tabBtn .tab-icon {
  margin-right: 6px;
  font-size: 18px;
}

.tripPage-tabBtn.active {
  border-bottom: 3px solid #007bff;
}

.tripPage-content {
  background: #fff;
  padding: 40px;
  text-align: center;
}

.tripPage-emptyBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #444;
}

.tripPage-emptyImg {
  width: 150px;
  margin-bottom: 20px;
  position: relative;
  right: 425px;
  top: 50px;
}

.tripPage-emptyText {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
  position: relative;
  right: 130px;
  bottom: 110px;
}

.tripPage-smallText {
  font-size: 10px;
  color: #777;
  margin-bottom: 20px;
  position: relative;
  right: 206px;
  bottom: 110px;
}

.tripPage2-smallText {
  font-size: 10px;
  color: #777;
  margin-bottom: 20px;
  position: relative;
  right: 228px;
  bottom: 110px;
}

.tripPage-planBtn {
  background: linear-gradient(to right, #4aa8ff, #0066ff);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 50px;
  font-weight: 800px;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  right: 250px;
  bottom: 100px;
}

.tripPage-planBtn:hover {
  opacity: 0.9;
}
