@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* App.css */
.section-scroll {
  scroll-margin-top: 0px; /* adjust based on navbar height */
}

/* Full height slides */
.slick-slide > div {
  height: 100vh;
}

/* Remove dots */
.slick-dots {
  display: none !important;
}

/* Override slick default arrows (remove duplicate) */
.slick-prev:before,
.slick-next:before {
  content: "" !important;
}

/* Shared arrow button styles */
.slick-arrow {
  width: 54px;
  height: 54px;
  border-radius: 999px;
  border: 1.5px solid rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(6px);
  display: grid !important;
  place-items: center;
  cursor: pointer;
  opacity: 1;
  z-index: 10;
  position: absolute;
  bottom: 20px;
}

/* Position left arrow */
.custom-prev {
  left: 50%;
  transform: translateX(-70px); /* move left of center */
}

/* Position right arrow */
.custom-next {
  left: 50%;
  transform: translateX(10px); /* move right of center */
}
